
*.java  // игнорировать все файлы с расширением
.idea // ее лучше игнорировать так как она не нужна по факту
ObuchenieKursGitConsol.iml  // становится коричневого цвета

// тут слеши лучше не писать, в реально рабочем файле))) иначе не будет работать




